body {
  font-family: sans-serif;
  margin: 16px;
}

.required::after {
  content: " *";
  color: #c00;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
  text-align: left;
}
